<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Luckiest+Guy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
        {#        {% block stylesheets %}#}
{#            {{ encore_entry_link_tags('app') }}#}
{#        {% endblock %}#}

{#        {% block javascripts %}#}
{#            {{ encore_entry_script_tags('app') }}#}
{#        {% endblock %}#}
    </head>
    <body>
    <div class="banner">
        <div class="intro">
        <h3>Welcome to</h3>
        <h1>Lush Lotto</h1>
        </div>
        <div class="nav">
            <a class="menuItem" href="{{ path('app_homepage') }}">Home</a>
            <a class="menuItem" href="{{ path('app_about') }}">About "Lush Lotto"</a>
            <a class="menuItem" href="https://lushpages.github.io/" target="_blank">About "Lush Pages"</a>
{#            {% if app.user %}#}
{#                <span class="menuItem">My account</span>#}
{#                <span class="menuItem">Logout</span>#}
{#            {% else %}#}
                <a class="menuItem">Login</a>
{#            {% endif %}#}
        </div>
    </div>
    <hr>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
    <div class="footer">
        <p>&copy; 2022 Lush Pages - Radosław Bujny</p>
    </div>
    </body>
</html>
